code {
  white-space: nowrap;
}

#header, #explain, #locate, #footer {
  text-align: center;
}

#header {
  margin-bottom: 40px;
}

#footer {
  margin-top: 60px;
}

#start-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: 40px 0;
}

#start-buttons a {
  padding: 75px 0;
  font-size: 2.4rem;
  border: none;
  border-right: 2px solid grey;
  border-top: 2px solid grey;
  background: white;
  color: rgb(34, 34, 34);
  cursor: pointer;
  text-align: center;
}

#start-buttons a:hover {
  background: #c9c9c9;
}

#start-buttons a:nth-of-type(1),
#start-buttons a:nth-of-type(2){
  border-top: none;
}

#start-buttons a:nth-of-type(3),
#start-buttons a:nth-of-type(4) {
  padding: 25px 0;
}

#start-buttons a:nth-of-type(even) {
  border-right: none;
}

#editor #filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5em;
  grid-row-gap: 0.75em;
}

#editor #filters div[id] {
  min-height: 235px;
  border: 3px solid #fff;
  padding: 5px;
  overflow-x: hidden;
  scrollbar-width: none;
}

#editor #filters div[id] > label,
#editor #filters div[id] .affix-group label {
  display: inline-block;
  width: 100%;
  font-weight: normal;
  line-height: 1em;
}

#editor #filters div[id] label input {
  width: 2.75em;
  padding: 1px 5px;
  float: right;
}

#editor #filters div[id] label select,
#editor #filters div[id] label option {
  width: 12em;
  padding: 1px 5px;
  font-size: 80%;
}

#editor #filters div[id] .affix-group {
  border-left: 2px solid #fff;
  margin-bottom: 2px;
  padding-left: 4px;
}

#editor #filters div[id] .affix-group button {
  float: right;
  padding: 1px 5px;
  font-size: 85%;
}

#editor #filters div[id] .affix-group .affixes {
  font-size: 65%;
}

#editor #filters div[id] .affix-group .affixes>*::after {
  content: "\00a0";
}

#editor #filters div[id] .affix-group .affixes .close::before {
  content: "\2716";
}

#editor #filters div[id] .affix-group .affixes span {
  cursor: pointer;
}

#editor #filters div[id] .affix-group .affixes code input {
  background: rgba(255,255,255,0.2);
  padding: 0 0 0 2px;
  margin: 0;
  border: none;
  width: 4.5em;
}

#editor #controls, #editor #uniques {
  border: none !important;
  text-align: center;
}

#editor #controls button,
#editor #controls .button,
#editor #uniques button,
#editor #uniques .button {
  width: 70%;
  margin: 0 auto;
  color: #222 !important;
  height: 32px;
  line-height: 20px;
  display: block;
}
