code {
  white-space: nowrap;
}

#header, #explain, #locate, #footer {
  text-align: center;
}

#header {
  margin-bottom: 40px;
}

#footer {
  margin-top: 60px;
}

#start-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: 40px 0;
}

#start-buttons button {
  padding: 75px 0;
  font-size: 2.4rem;
  border: none;
  border-right: 2px solid grey;
}

#start-buttons button:last-of-type {
  border-right: none;
}

#editor #filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5em;
    grid-row-gap: 2px;
}

#editor #filters div[id] {
  height: 230px;
  border: 3px solid #fff;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

#editor #filters div[id] > label {
  display: inline-block;
  width: 100%;
  font-weight: normal;
}

#editor #filters div[id] > label input {
  width: 2.75em;
  padding: 1px 5px;
  float: right;
}

#editor #filters div[id] > label select,
#editor #filters div[id] > label option {
  width: 12em;
  padding: 1px 5px;
  font-size: 80%;
}

#editor #filters div[id] > label button {
  float: right;
  padding: 1px 5px;
  font-size: 85%;
}

#editor #filters div[id] .affixes {
  font-size: 65%;
}

#editor #filters div[id] .affixes .close::before {
  content: "\2716";
  cursor: pointer;
}

#editor #controls {
  border: none !important;
}

#editor #controls button,
#editor #controls .button{
  width: 70%;
  margin: 0 auto;
  color: #222 !important;
  height: 32px;
  line-height: 20px;
  display: block;
}